<br>
<%if user_signed_in?%>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-3">
			<h1>Url Shortner</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h1><%=notice%></h1>
			<%=form_for(UrlGenerator.new,remote:true) do |f|%>
				<div class="form-group">
					<%=f.text_field :url,placeholder:"paste a link to shorten it",class:"form-control",id:"form-field"%>  
				</div>
				<div class="form-group"> 
				<%=f.submit "shorten",class:"form-control-lg btn btn-success"%>	
				</div>
			<%end%>
			<h3>List Of Short Urls</h3>
			<%if(user_signed_in?)%>
				<br>
				<table class="table table-hover" border="1" id="url-generator">
					<thead class="table-success">
						<tr>
							<th>orginal url</th>
							<th>shorten url</th>
						</tr>
					</thead>
					<tbody>
					<%UrlGenerator.where(user_id:current_user.id).each_with_index do |n,index|%>						
						<tr>
							<td><%=n.url%></td>
							<td><%=link_to n.encoded_url,url_generator_path(n.id)%></td>
						<tr>						
					<%end%>
					</tbody>
				</table>
			<%end%>
			<br>
			<h2>uploading '.csv' file containing urls only</h2>
			<br>
			<%= form_tag import_url_generators_path, multipart: true do %>
			  <%= file_field_tag :file ,class:"form-control-lg btn btn-success"%>
			  <%= submit_tag "Import",class:"form-control-lg btn btn-primary" %>
			<%end%>
		</div>
	</div>
	<%1.times do%>
		<br>
	<%end%>
<%end%>













